@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    background-color: #1E1F26;
    gap: 100px;
}

.container-menu {
    width: 260px;
    height: 100vh;
    background-color: #2E3039;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px 30px;
}

.container-menu .content-title .title {
    font-size: 18px;
    font-weight: 800;
    color: white;
}

.container-menu .content-menu .list-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.container-menu .content-menu .list-links .link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    color: white;
}

.container-menu .content-menu .list-links .link:hover {
    opacity: 80%;
    text-decoration: underline;
    text-decoration-color: white;
}

.container-menu .content-copyright .copyright-text {
    font-size: 15px;
    color: gainsboro;
}

.container-main {
    padding-left: 350px;
    padding-right: 60px;
}

.container-main .container-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    gap: 100px;
}

.container-main .container-home .content-details {
    display: flex;
    flex-direction: column;
    padding: 45px;
    background-color: #2E3039;
    border-radius: 8px;
    gap: 20px;
}

.container-main .container-home .content-details .title {
    font-size: 28px;
    color: white;
}

.container-main .container-home .content-details .desc {
    font-size: 15px;
    font-weight: 600;
    color: #c6c6ce;
}

.container-main .container-home .content-details .buttons {
    display: flex;
    gap: 10px;
}

.container-main .container-home .content-details .buttons .blog {
    font-size: 16px;
    height: 50px;
    width: 250px;
    color: black;
    border: none;
    border-radius: 8px;
    background-color: white;
    transition: 0.3s;
}

.container-main .container-home .content-details .buttons .blog:hover {
    color: white;
    background-color: #1E1F26;
}

.container-main .container-home .content-details .cv {
    font-size: 16px;
    height: 50px;
    width: 250px;
    color: white;
    border: none;
    background-color: #2E3039;
    border: 1px solid white;
    border-radius: 8px;
    transition: 0.3s;
}

.container-main .container-home .content-details .cv:hover {
    color: black;
    background-color: white;
}

.container-main .container-home .content-details .link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.container-main .container-home .content-details .bx-chevrons-down {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #9696A0;
    border-radius: 16px;
    height: 50px;
    width: 50px;
}

.container-main .container-home .content-background .profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid white;
}

.container-main .container-about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 700px;

}

.container-main .container-about .content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.container-main .container-about .content .details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-main .container-about .content .details .title {
    font-size: 28px;
    color: white;
}

.container-main .container-about .content .details .desc {
    font-size: 15px;
    font-weight: 600;
    color: #c6c6ce;
}

.container-main .container-about .content .list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.container-main .container-about .content .list-items li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    width: 100px;
    height: 95px;
    background-color: #2E3039;
}

.container-main .container-about .content .list-items li .bx {
    font-size: 38px;
    color: white;
}

.container-main .container-about .content .list-items li .item {
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.container-main .container-projects {
    height: 100vh;
}

.container-main .container-projects .title {
    font-size: 28px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.container-main .container-projects .box-projects .list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    gap: 45px;
}

.container-main .container-projects .box-projects .list li .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-main .container-projects .box-projects .list li .box .details {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 5px;
}

.container-main .container-projects .box-projects .list li .box .background {
    height: 280px;
    width: 280px;
    border-radius: 8px;
    object-fit: cover;
}

.container-main .container-projects .box-projects .list li .box .title {
    font-size: 18px;
    font-weight: 800;
    color: white;
}

.container-main .container-projects .box-projects .list li .box .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.container-main .container-projects .box-projects .list li .box .buttons .view {
    width: 280px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #2E3039;
    border: none;
}

.container-main .container-projects .box-projects .list li .box .buttons .github {
    width: 280px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #2E3039;
    border: none;
}

.container-main .container-contacts .box {
    background-color: #2E3039;
    border-radius: 8px;
    padding: 45px;
}

.container-main .container-contacts .box .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-main .container-contacts .box .details .title {
    font-size: 28px;
    color: white;
}

.container-main .container-contacts .box .details .list-contacts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.container-main .container-contacts .box .details .list-contacts li .link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.container-main .container-contacts .box .details .list-contacts li .bx {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1F26;
    border-radius: 50%;
    padding: 10px;
}