@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --background-body: #F5F5F5;
    --color: #253259;
}

body,
html {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}

header .container-title .title {
    font-size: 26px;
    font-weight: 800;
}

header .secondary-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

header .nav-links .list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

header .nav-links .list .link {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

header .container-theme .theme {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    height: 45px;
    width: 45px;
}

header .container-menu {
    display: none;
}

header .container-menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 60px;
    height: 100vh;
}

.container-home .details-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.container-home .details-text .title {
    font-size: 32px;
    font-weight: 900;
}

.container-home .details-text .job {
    font-size: 26px;
    font-weight: 700;
}

.container-home .details-text .description {
    font-size: 20px;
}

.container-home .details-text .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.container-home .details-text .links .blanks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.container-home .details-text .links .blanks .github {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 16px;
    background-color: black;
    color: white;
    font-size: 18px;
    width: 170px;
    height: 60px;
}


.container-home .details-text .links .blanks .cv {
    border: 1px solid gainsboro;
    border-radius: 16px;
    background: none;
    font-size: 18px;
    width: 170px;
    height: 60px;
}

.container-home .details-text .links .list-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.container-home .details-text .links .list-links li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-home .details-text .links .list-links li .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.container-home .background-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container-home .background-container .background {
    border-radius: 16px;
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.container-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 60px;
    gap: 100px;
}

.container-details .details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 150px;
    border-radius: 16px;
    border: 1px solid gainsboro;
    gap: 30px;
}

.container-details .details .icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-details .details .desc {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.container-details .projects {
    width: 100%;
    height: 100vh;
}

.container-details .projects .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.container-details .projects .header .title {
    font-size: 28px;
    font-weight: 900;
}

.container-details .projects .header span {
    font-size: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid black;
}

.container-details .projects .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
}

.container-details .projects .main .container:hover .details {
    display: flex;
}

.container-details .projects .main .container {
    position: relative;
    border-radius: 16px;
    width: 350px;
    height: 300px;
    overflow: hidden;
}

.container-details .projects .main .container .background {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 380px;
    height: 460px;
    object-fit: cover;
}

.container-details .projects .main .container .details {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: none;
    display: none;
}

.container-details .projects .main .container .details .visit {
    width: 180px;
    height: 55px;
    font-size: 18px;
    background: none;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
}

.container-details .projects .main .container .details .github {
    width: 180px;
    height: 55px;
    font-size: 18px;
    background: none;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
}

.container-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 60px;
}

.container-contacts .details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.container-contacts .details .title {
    font-size: 28px;
    font-weight: 900;
}

.container-contacts .details .list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 50px;
}


.container-contacts .details .list li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.container-contacts .details .list li .bx {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 22px;
}

.container-contacts .details .list li .desc {
    font-size: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

footer .copy-text {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 1100px) {
    .container-home .background-container .background {
        width: 350px;
        height: 350px;
    }

    .container-details .projects .main .container {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1040px) {
    .container-home .background-container .background {
        width: 350px;
        height: 350px;
    }

    .container-details .projects .main .container {
        width: 280px;
        height: 300px;
    }
}

@media (max-width: 1000px) {
    .container-home .details-text .title {
        font-size: 28px;
    }

    .container-home .details-text .job {
        font-size: 24px;
    }

    .container-home .details-text .description {
        font-size: 18px;
    }

    .container-home .details-text .links .blanks .github {
        width: 150px;
    }

    .container-home .details-text .links .blanks .cv {
        width: 150px;
    }

    .container-home .background-container .background {
        width: 350px;
        height: 350px;
    }

    .container-details .projects .main .container {
        width: 280px;
        height: 300px;
    }
}

@media (max-width: 970px) {
    header {
        padding: 60px 30px;
    }

    header .container-title .title {
        font-size: 20px;
    }

    header .secondary-container .nav-links .list .link {
        font-size: 18px;
    }

    header .secondary-container .container-theme .theme {
        height: 40px;
        width: 40px;
    }

    .container-home {
        padding: 30px;
    }

    .container-home .details-text {
        gap: 25px;
    }

    .container-home .details-text .title {
        font-size: 28px;
    }

    .container-home .details-text .job {
        font-size: 24px;
    }

    .container-home .details-text .description {
        font-size: 18px;
    }

    .container-home .details-text .links .blanks .github {
        width: 150px;
    }

    .container-home .details-text .links .blanks .cv {
        width: 150px;
    }

    .container-home .background-container .background {
        width: 320px;
        height: 320px;
    }

    .container-details {
        padding: 30px;
    }

    .container-details .details {
        padding: 50px;
    }

    .container-details .details .icon {
        height: 40px;
        width: 40px;
    }

    .container-details .details .desc {
        font-size: 18px;
    }

    .container-details .projects .header .title {
        font-size: 28px;
    }

    .container-details .projects .header span {
        height: 40px;
        width: 40px
    }

    .container-details .projects .main .container {
        width: 270px;
        height: 300px;
    }

    .container-contacts {
        padding: 30px;
    }

    .container-contacts .details .title {
        font-size: 28px;
    }

    .container-contacts .details .list {
        gap: 30px;
    }

    .container-contacts .details .list li .bx {
        width: 40px;
        height: 40px;
    }

    .container-contacts .details .list li .desc {
        font-size: 18px;
    }

    footer .copy-text {
        font-size: 13px;
    }
}

@media (max-width: 885px) {
    .container-home .background-container .background {
        width: 300px;
        height: 300px;
    }

    .container-details .projects .main .container {
        width: 250px;
        height: 290px;
    }
}

@media (max-width: 840px) {
    .container-home .background-container .background {
        width: 280px;
        height: 280px;
    }

    .container-details .projects .main .container {
        width: 250px;
        height: 260px;
    }
}

@media (max-width: 825px) {
    header .secondary-container {
        display: none;
    }

    header .container-menu {
        display: block;
    }

    header .container-menu button {
        border: none;
    }

    .container-home {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 60px;
    }

    .container-home .details-text {
        gap: 20px;
    }

    .container-home .background-container {
        width: 100%;
    }

    .container-home .background-container .background {
        width: 100%;
        height: 250px;

    }

    .container-details .projects .main .container {
        width: 230px;
        height: 260px;
    }
}

@media (max-width: 775px) {
    .container-details .projects .main .container {
        width: 220px;
        height: 260px;
    }
}

@media (max-width: 740px) {
    .container-details .projects .main .container {
        width: 210px;
        height: 260px;
    }
}

@media (max-width: 700px) {
    .container-details .projects .main .container {
        width: 200px;
        height: 260px;
    }
}

@media (max-width: 670px) {
    .container-details .projects .main .container {
        width: 195px;
        height: 240px;
    }
}

@media (max-width: 655px) {
    .container-home .details-text .title {
        font-size: 22px;
    }

    .container-home .details-text .job {
        font-size: 20px;
    }

    .container-home .details-text .description {
        font-size: 16px;
    }

    .container-home .details-text .links .blanks .github {
        font-size: 15px;
    }

    .container-home .details-text .links .blanks .cv {
        font-size: 15px;
    }

    .container-details .details {
        padding: 40px;
        gap: 10px;
    }

    .container-details .details .desc {
        font-size: 15px;
    }

    .container-details .projects .header .title {
        font-size: 22px;
    }

    .container-details .projects .header span .bx {
        font-size: 18px;
    }

    .container-details .projects .main .container {
        width: 190px;
        height: 230px;
    }

    .container-contacts .details {
        gap: 30px;
    }

    .container-contacts .details .title {
        font-size: 22px;
    }

    .container-contacts .details .list li .desc {
        font-size: 16px;
    }
}

@media (max-width: 640px) {

    header,
    .container-home,
    .container-details,
    footer {
        padding: 30px 15px;
    }

    .container-home .details-text .links .blanks .github {
        font-size: 15px;
        width: 130px;
    }

    .container-home .details-text .links .blanks .cv {
        font-size: 15px;
        width: 130px;
    }

    .container-home .details-text .links {
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
    }

    .container-details .details {
        padding: 30px 15px;
    }

    .container-details .projects {
        height: 100vh;
    }

    .container-details .projects .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .container-details .projects .main .container {
        width: 100%;
        height: 200px;
    }

    .container-details .projects .main .container .background {
        width: 100%;
        height: auto;
    }

    .container-contacts {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

@media (max-width: 360px) {
    .container-contacts {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 150px;
    }

    footer .copy-text {
        font-size: 10px;
        padding: 15px 30px;
    }
}